workflow/AI_PostgreSQL_DB.json
{
  "name": "AI PostgreSQL DB",
  "nodes": [
    {
      "parameters": {
        "content": "### Set up steps\n\n#### Preparation\n1. **Create Accounts**:\n   - [N8N](https://n8n.partnerlinks.io/2hr10zpkki6a): For workflow automation.\n   - [Supabase](https://supabase.com/): For database hosting and management.\n   - [OpenAI](https://openai.com/): For building the conversational AI agent.\n2. **Configure Database Connection**:\n   - Set up a PostgreSQL database in Supabase.\n   - Use appropriate credentials (`username`, `password`, `host`, and `database` name) in your workflow.\n\n#### N8N Workflow\n\nAI agent with tools:\n\n1. **Code Tool**:\n   - Execute SQL queries based on user input.\n2. **Database Schema Tool**:\n   - Retrieve a list of all tables in the database.\n   - Use a predefined SQL query to fetch table definitions, including column names, types, and references.\n3. **Table Definition**:\n   - Retrieve a list of columns with types for one table.",
        "height": 545.9087885077763,
        "width": 280.2462120317618,
        "color": 7
      },
      "id": "2cea21fc-f3fe-47b7-a7b6-12acb0bc03ac",
      "name": "Sticky Note5",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "![5min Logo](https://res.cloudinary.com/de9jgixzm/image/upload/v1739773200/Skool%20Assets/ejm3hqnvhgwpnu2fv92s.png)\n## AI Agent to chat with Supabase/PostgreSQL DB\n**Made by [Mark Shcherbakov](https://www.linkedin.com/in/marklowcoding/) from community [5minAI](https://www.skool.com/5minai-2861)**\n\nAccessing and analyzing database data often requires SQL expertise or dedicated reports, which can be time-consuming. This workflow empowers users to interact with a database conversationally through an AI-powered agent. It dynamically generates SQL queries based on user requests, streamlining data retrieval and analysis.\n\nThis workflow integrates OpenAI with a Supabase database, enabling users to interact with their data via an AI agent. The agent can:\n- Retrieve records from the database.\n- Extract and analyze JSON data stored in tables.\n- Provide summaries, aggregations, or specific data points based on user queries.\n\nhttps://n8n.io/workflows/2612-ai-agent-to-chat-with-supabasepostgresql-db/\n",
        "height": 497.1532689930921,
        "width": 636.2128494576581,
        "color": 7
      },
      "id": "eacc0c8c-11d5-44fb-8ff1-10533a233693",
      "name": "Sticky Note6",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        380,
        240
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### ... or watch set up video [20 min]\n[![Youtube Thumbnail](https://res.cloudinary.com/de9jgixzm/image/upload/v1739773279/Youtube%20Thumbs/Chat%20With%20DB.png)](https://www.youtube.com/watch?v=-GgKzhCNxjk)\n",
        "height": 239.5888196628349,
        "width": 330.5152611046425,
        "color": 7
      },
      "id": "be1559ea-1f75-4e7c-9bdd-3add8d8be70b",
      "name": "Sticky Note7",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        680,
        760
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "public": true,
        "authentication": "n8nUserAuth",
        "options": {
          "allowFileUploads": true,
          "subtitle": "Start a chat. We're here to help you 24/7.",
          "title": "Hi there! 👋"
        }
      },
      "id": "4ea87754-dead-49ea-848c-ed86c98e217b",
      "name": "When chat message received",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "position": [
        1100,
        840
      ],
      "webhookId": "6e95bc27-99a6-417c-8bf7-2831d7f7a4be",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get list of all tables in database",
        "operation": "executeQuery",
        "query": "SELECT table_schema, table_name\nFROM information_schema.tables\nWHERE table_type = 'BASE TABLE' AND table_schema = 'public';",
        "options": {}
      },
      "id": "8d3b1faf-643c-4070-996d-a59cb06e1827",
      "name": "DB Schema",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1840,
        1140
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "8g3AHuZrWl3yAWHL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Get table definition to find all columns and types.",
        "operation": "executeQuery",
        "query": "SELECT \n    c.column_name,\n    c.data_type,\n    c.is_nullable,\n    c.column_default,\n    tc.constraint_type,\n    ccu.table_name AS referenced_table,\n    ccu.column_name AS referenced_column\nFROM \n    information_schema.columns c\nLEFT JOIN \n    information_schema.key_column_usage kcu \n    ON c.table_name = kcu.table_name \n    AND c.column_name = kcu.column_name\nLEFT JOIN \n    information_schema.table_constraints tc \n    ON kcu.constraint_name = tc.constraint_name\n    AND tc.constraint_type = 'FOREIGN KEY'\nLEFT JOIN\n    information_schema.constraint_column_usage ccu\n    ON tc.constraint_name = ccu.constraint_name\nWHERE \n    c.table_name = '{{ $fromAI(\"table_name\") }}' -- Your table name\n    AND c.table_schema = 'public' -- Ensure it's in the right schema\nORDER BY \n    c.ordinal_position;\n",
        "options": {}
      },
      "id": "d9346ade-79d1-44c2-8fa6-b337ad8b0544",
      "name": "Get table definition",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        2000,
        1140
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "8g3AHuZrWl3yAWHL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "content": "**Finetune the prompt of assistant**",
        "height": 80,
        "width": 215
      },
      "id": "b88a21e0-d2ff-4431-bd84-dfd43edeb5c4",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1500,
        720
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a DB expert manager for Postgres. You need to run queries in DB aligned with user requests.\n\nRun custom SQL query to aggregate data and response to user request.\n\nFetch all data to analyse it for response if needed.\n\nYou use the tools for execute the query and do not return the query !\n\n## IMPORTANT\n!! DO NOT RETURN THE INSTRUCTION !!\nThe database system is PostgresSql \"Postgres\" for the friends\nYou speak french !\n"
        }
      },
      "id": "fbe9eb68-5990-485c-820f-08234ea33194",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "position": [
        1480,
        840
      ],
      "typeVersion": 1.6
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Run custom SQL queries using knowledge about Output structure to provide needed response for user request.\nUse ->> operator to extract JSON data.",
        "operation": "executeQuery",
        "query": "{{ $fromAI(\"query\",\"SQL query for PostgreSQL DB in Supabase\") }}",
        "options": {}
      },
      "id": "7f82d6d9-d7d6-4443-bbaa-c9b276a376e3",
      "name": "Run SQL Query",
      "type": "n8n-nodes-base.postgresTool",
      "position": [
        1680,
        1140
      ],
      "typeVersion": 2.5,
      "credentials": {
        "postgres": {
          "id": "8g3AHuZrWl3yAWHL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1260,
        1140
      ],
      "id": "170d3685-a7c6-449f-a5da-5c1f8e4904e9",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "rzR8RPmbeNmWKdF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1440,
        1140
      ],
      "id": "dc60cc78-f347-45a2-945c-2867e1034b28",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "DB Schema": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Run SQL Query": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get table definition": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Brussels",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "66ccd516-d024-4658-a016-adf745c3974c",
  "meta": {
    "templateId": "2612",
    "templateCredsSetupCompleted": true,
    "instanceId": "4c791bd3945d7fdcde4a6084443549ddf701ab30842b7c70dc0249c5f61162cc"
  },
  "id": "t47TSvHBacvrxFNV",
  "tags": []
}