workflow/Network_RAG_AI_Agent.json
{
  "name": "Network RAG AI Agent",
  "nodes": [
    {
      "parameters": {
        "name": "user_documents",
        "description": "Contains all the user's documents that you can check for context to answer user questions.",
        "topK": 5
      },
      "id": "006f4f9a-2929-479a-9ae5-a4ec204ed0cc",
      "name": "Retrieve Documents",
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        1880,
        -100
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "options": {
          "systemMessage": "Tu est assistant qui utilise la documentation de l'entreprise afin de répondre aux questions des utilisateurs.\n\nTu dois utiliser les outils a ta disposition pour formuler ta réponse.\n\nSi les outils ne te donne pas une réponse en relation avec la question, tu répond que tu ne sais pas, mais tu dois toujours intégrer la réponse des outils, si il y en a une, a ta réponse finale !\n\nTu n'essaye pas de concevoir une réponse et tu ne fera que des suggestions et développement que a la demande !",
          "returnIntermediateSteps": true
        }
      },
      "id": "5a3f3573-3a16-4c27-a9da-95173877d487",
      "name": "RAG AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        380,
        -180
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "case_embeddings",
        "returnAll": true
      },
      "id": "1b2cafbe-4f6b-4f30-9e1e-987b20df4d02",
      "name": "Retrieve Rows from Table1",
      "type": "n8n-nodes-base.supabase",
      "position": [
        1920,
        140
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        160,
        -180
      ],
      "id": "557510d2-77fb-42f1-bc29-88d9406f5f45",
      "name": "When chat message received",
      "webhookId": "cf8f6a05-9b12-4d8e-9683-da230fda1b70"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        1100,
        60
      ],
      "id": "95b53777-8102-40f9-aa21-8c7453d3db7b",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "rzR8RPmbeNmWKdF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "typeVersion": 1,
      "position": [
        1940,
        400
      ],
      "id": "45ca9261-030f-4fa0-96e4-02a8b08888e7",
      "name": "Ollama Model",
      "credentials": {
        "ollamaApi": {
          "id": "rzR8RPmbeNmWKdF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        1340,
        420
      ],
      "id": "5aba10e1-d1fb-4765-9747-bd5b01f6685f",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "rzR8RPmbeNmWKdF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        1260,
        220
      ],
      "id": "bb4eddec-a951-4cc3-9337-e0b1bc5338b7",
      "name": "Postgres PGVector Store",
      "credentials": {
        "postgres": {
          "id": "8g3AHuZrWl3yAWHL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemPromptTemplate": "Use the following pieces of context to answer the users question.\nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n\nYou speak excusively in french !\n----------------\n{context}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainRetrievalQa",
      "typeVersion": 1.4,
      "position": [
        1100,
        -180
      ],
      "id": "6faabcdb-5602-43f3-a826-f535c833c1d0",
      "name": "Question and Answer Chain",
      "notesInFlow": false,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "topK": 10
      },
      "type": "@n8n/n8n-nodes-langchain.retrieverVectorStore",
      "typeVersion": 1,
      "position": [
        1260,
        60
      ],
      "id": "0ed51858-4437-401e-8ef7-a8db0af6f8ea",
      "name": "Vector Store Retriever"
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        360,
        260
      ],
      "id": "2cb8442e-d101-44f5-84cc-b9473d603592",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "rzR8RPmbeNmWKdF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "name": "luxus_rag",
        "description": "=Contains all the user's documents that you can check for context to answer user questions.\n---\n{context}",
        "topK": "=10"
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1,
      "position": [
        560,
        60
      ],
      "id": "8149bf6b-4b00-4b13-97e6-8d4ffe01842c",
      "name": "Answer questions with a vector store1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        680,
        440
      ],
      "id": "76e6dcf1-c0ec-4852-be32-73a9517d3091",
      "name": "Embeddings Ollama1",
      "credentials": {
        "ollamaApi": {
          "id": "rzR8RPmbeNmWKdF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePGVector",
      "typeVersion": 1,
      "position": [
        580,
        260
      ],
      "id": "7a4aa814-a24e-4a8d-947e-3e47a6058dd6",
      "name": "Postgres PGVector Store1",
      "credentials": {
        "postgres": {
          "id": "8g3AHuZrWl3yAWHL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "model": "llama3.2:latest",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        880,
        260
      ],
      "id": "1cfec82d-6ec8-4a97-9665-03ac53f719a5",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "rzR8RPmbeNmWKdF7",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        440,
        60
      ],
      "id": "f8fc2993-d624-46db-94af-838bbca17571",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "8g3AHuZrWl3yAWHL",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Retrieve Documents": {
      "ai_tool": [
        []
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "RAG AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        []
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Vector Store Retriever",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "RAG AI Agent": {
      "main": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Vector Store Retriever": {
      "ai_retriever": [
        [
          {
            "node": "Question and Answer Chain",
            "type": "ai_retriever",
            "index": 0
          }
        ]
      ]
    },
    "Question and Answer Chain": {
      "main": [
        []
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store1": {
      "ai_tool": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Postgres PGVector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Postgres PGVector Store1": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ca3a470b-9c11-4b82-b892-c92d3e2ddde4",
  "meta": {
    "instanceId": "4c791bd3945d7fdcde4a6084443549ddf701ab30842b7c70dc0249c5f61162cc"
  },
  "id": "fNsAQ7NvnU7Ptb8D",
  "tags": []
}